################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cpp-docs2/copilot-chat/a1e1ef0b/sessions
/.vs/cpp-docs2/CopilotIndices/17.12.53.23981
/.vs/cpp-docs2/v17
/.vs/cpp-docs2/FileContentIndex
/.vs/cpp-docs3/CopilotIndices/17.12.53.23981
